.mainContainer {
  display: grid;
  gap: 0rem;
  background-color: white;
  margin: 0rem 0rem;
  border-radius: 10px;

  grid-template-columns: repeat(4, 1fr);
}

/* tablet */
@media (max-width: 1200px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small laptop */
@media (max-width: 992px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* tablet portrait */
@media (max-width: 768px) {
  .mainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* mobile */
@media (max-width: 480px) {
  .mainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: flex;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.avatar {
  padding: 10px 10px 10px 10px;
}

.userInfo {
  flex: 1;
}

.userInfo h3 {
  margin: 0;
  font-size: 15px;
}

.userInfo p {
  font-size: 13px;
}

.profession {
  color: #888;
  margin: 5px 0 10px;
}

/* DESKTOP MEDIA QUERIES */
@media (min-width: 768px) {

  .userInfo h4 {
    font-size: 16px;
  }

  .userInfo p {
    font-size: 12px;
  }
}