/* home page css */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.profileCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}