/* dropdown styling */
.selectContainer {
  top: 50%;
  position: relative;
  border: 12px solid #0000009c;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.selectContainer > button {
  grid-column: span 2;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 1rem;
  color: white;
  border: none;
  outline: none;
  background-color: #cd3162;
}
.select {
  width: 100%;
  border: 1px solid gray;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 0%;
  background-color: #fff;
  color: #333;
}

.select:nth-child(3) {
  grid-column: span 2;
}

.hero {
  height: 55vh;
  background-image: url("/banner.jpg");
  background-size: cover;
  background-position: center;
}
.hero > h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  top: 50%;
  position: relative;
  text-shadow: #000 0px 0px 27px;
  stroke-width: 1px;
}

/* DESKTOP MEDIA QUERIES */
@media (min-width: 768px) {
  .selectContainer {
    margin: auto;
    display: grid;
    border: 18px solid #0000009c;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75%;
  }
  .selectContainer > button {
    grid-column: span 1;
  }
  .select {
    padding: 0.8rem;
  }
  .select:nth-child(3) {
    grid-column: span 1;
  }

  .hero > h2 {
    font-size: 2.5rem;
  }
}
